* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ball {
    border: 1px solid black;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orange {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: orange;
}

.blue {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: blue;
}